/* layout */

.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}


/* HEADER */
header{
    height: 40px;
    justify-content: space-around;
    padding: 10px;
}

.logo{
    height: 20px;
    width: 30px;
   
}
.nav-bar{
    justify-content: space-between;
    width:300px;
}

.login-btn{
    height: 20px;
    width: 30px;
    background-color: aliceblue;
}

.btn-logo {
    padding: 10px 20px;
    background-color: var(--b4);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}
/* DOWNLOAD CARD */
.download-card{
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 10%;
    /* height: 350px; */
}
h1, h2{
    
    width: 400px;
    height: 40px;
    
}
p{ 
    width: 400px;
    height: 100px;
}
.btn-download{
    justify-content: space-around;
    width: 150px;
    height: 30px;
}
/* .btn{
    height: 30px;
    width: 70px;
} */


/* CARD */
.card{
    padding: 10%;
    /* height: 350px; */
    gap: 40px;
    align-items: center;
    justify-content: space-around;
    min-height: 300px;
    flex-wrap: wrap;
}
.img-card{
    height: 200px;
    aspect-ratio: 1;
}
.text{
    flex-direction: column;
}
.card-content{
    align-self: flex-end;
}


/* REVERSE CARD */
.reverse{
    flex-direction: row-reverse;
}




/* FINAL CARD */
.final-card{
    padding: 10%;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
.img-card-final{
    height: 400px;
    aspect-ratio: 2;
}
.start-download{
    height: 30px;
    aspect-ratio: 10;
}

/* footer */
footer{
    justify-content: space-around;
    padding: 4%;
    align-items: flex-start;
}
.side-card{
    /* height: 150px; */
    width: calc(20% - 20px);
    /* min-width: 200px; */
    /* aspect-ratio: 1.5;  */
    gap: 10px;   

}
h3, span {
    height: 40px; 
    display: block; 
    margin-bottom: 10px;
}

figure.small{
    height: 20px; 
    width: 20px;
    display: inline-block;
    width: 20%;
    align-items: center;
     
}
.list{
    /* height: 110px;
    width: 100px; */
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    margin-right: 30px;
    
}
.list-x{
    /* height: 110px;
    width: 100px; */
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin-right: 30px;
    align-self: baseline;
    
}
.items{
    height: 20px;
    width: 100px;
    list-style-type: none;

}

/* down-divider */
.footer-buttons {
    justify-content: space-between;
    width: 100%;
}

.btn,
.btn {
    padding: 10px 20px;
    background-color: var(--b4);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* style */
:root{
    --b5:#7CDFF2;
    --b1:#B2F8F0;
    --b2:#F0F7F7;
    --b3:#F7D5E1;
    --b4:#EE97C2;
    --card1:#F6F6F6;

}
header{
    display: flex;
    background-color:var(--b5);

}
figure{
    background-color: var(--b1);
}
a{
    background-color: var(--b2);
}
.card{
    background-color: var(--b3);
    
}
h1, h2{
    background-color: var(--b5);
}
.btn-download{
  background-color: var(--b3);
}
p{
    background-color: var(--b1);
}
h3{
    background-color: var(--b5);
}
.list{
    background-color: var(--b3);

}
.items{
    background-color:var(--b1);
}
span{
    background-color: var(--card1);
}
.small{
    background-color: var(--b4);
}
hr {
    width: 100%;
    border: 1px solid #ffffff;
    margin: 20px 0;
}